* {
    --edge-space: 1em;
}

:root, :root.default {
    --radius: 10px;
    --radius-window: 8px;
    --radius-small: 8px;
    --searchbox-color: var(--map-button-bg-color);
    --searchbox-border: none;
    --map-background-color: white;
    --shadows: 1px 2px 5px 0px rgba(60,64,67,0.5);
    --map-button-transition: background-color 0.25s, color 0.25s;
}

/* Overwrite the default button colors */
:root.default {
    --map-button-bg-color: white !important;
    --map-button-text-color: var(--text-color) !important;
    --map-button-hover-bg-color: #dcdcdc !important;
    --map-button-hover-text-color: var(--text-color) !important;
    --map-button-active-text-color: var(--text-color) !important;
}

div#map {
    background-color: var(--map-background-color);
}

/* ComboBox.css */
.plugins-container
div.combobox {
    border-radius: var(--radius-small);
}

/* HeightProfile.css */
.plugins-container
#HeightProfile {
    z-index: 3;
}

/* GwToolbox.css */
.plugins-container
div.toolbox-results-container {
    border-radius: var(--radius-small);
}

/* App.css */
.plugins-container input,
.plugins-container select,
.plugins-container button,
.plugins-container textarea {
    border-radius: var(--radius-small);
}

.plugins-container
button.button {
    border-radius: var(--radius-small);
}

/* AppMenu.css */
.plugins-container
div.AppMenu.appmenu-visible {
    background-color: inherit;
    color: inherit;
}

.plugins-container div.AppMenu .appmenu-icon:hover,
.plugins-container div.AppMenu.appmenu-visible .appmenu-icon {
    background-color: var(--map-button-hover-bg-color);
    color: var(--map-button-hover-text-color);
}

.plugins-container
div.AppMenu .appmenu-label {
    display: none;
}

.plugins-container
div.AppMenu .appmenu-icon {
    color: var(--map-button-text-color);
    margin: 0;
    margin-left: 2px;
    background-color: var(--map-button-bg-color);
    border-radius: var(--radius);
    box-shadow: var(--shadows);
    width: 2.5em;
    height: 2.5em;
    border: none;
    transition: var(--map-button-transition);
    pointer-events: all;
}

/* .plugins-container
div.AppMenu .appmenu-icon:before {
    height: 100%;
} */

.plugins-container
div.AppMenu div.appmenu-menu-container {
    right: 1em;
    box-shadow: var(--shadows);
    border-radius: var(--radius);
    pointer-events: all;
}

/* InputContainsr.css */
.plugins-container
div.input-container {
    border-radius: var(--radius-small);
}

.plugins-container
div.input-container .input-container-input {
    border-radius: var(--radius-small);
}

/* MessageBar */
.plugins-container
#MessageBar div.messagebar {
    box-shadow: var(--shadows);
    border-radius: var(--radius-window);
}

/* QtDesignerForm.css */
.plugins-container
div.qt-designer-layout-grid {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.plugins-container
.qt-designer-form-datetime > input:first-child {
    border-radius: var(--radius-small) 0 0 var(--radius-small);
}

.plugins-container
.qt-designer-form-datetime > input:nth-last-child(2) {
    border-radius: 0 var(--radius-small) var(--radius-small) 0;
    border-left: none
}

.plugins-container
div.qt-designer-form-frame {
    padding: 0.4em;
    border-radius: 0 var(--radius-small) var(--radius-small) var(--radius-small);
}

.plugins-container
div.qt-designer-form-tabbar > span {
    border-radius: var(--radius-small) var(--radius-small) 0 0;
    padding: 0 0.5em;
}

/* ResizeableWindow.css */
.plugins-container
div.resizeable-window {
    border-radius: var(--radius-window);
}

.plugins-container
div.resizeable-window-body {
    padding: 0.4em;
}

/* .plugins-container
div.resizeable-window-titlebar {
    border-bottom: 1px solid var(--text-color-disabled);
} */

/* SearchBox.css */
.plugins-container
.searchbox-filter-button {
    height: 100%;
}

.plugins-container
div.SearchBox > div.searchbox-results {
    border-radius: var(--radius);
}

.plugins-container
div.SearchBox {
    border-radius: var(--radius);
    border: none;
    min-width:9em;
}

.plugins-container
div.SearchBox > div.searchbox-field {
    height: 100%;
}

.plugins-container
div.SearchBox .input-container-prefix {
    width: 2em;
}

.plugins-container
div.SearchBox .input-container-suffix {
    width: 2em;
}

.plugins-container
div.SearchBox > div.searchbox-field {
    height: 100%;
}

/* SideBar.css */
.plugins-container
div.sidebar {
    box-shadow: var(--shadows);
    border-radius: var(--radius);
}

.plugins-container
div.sidebar-right {
    right: 1em;
}

.plugins-container
div.sidebar-left {
    left: 1em;
}

.plugins-container
div.sidebar-right:not(.sidebar-open) {
    transform: translateX(100%) translateX(8px) translate(1em);
}

.plugins-container
div.sidebar-left:not(.sidebar-open) {
    transform: translateX(-100%) translateX(-8px) translate(-1em);
}

.plugins-container div.mapinfotooltip-titlebar,
.plugins-container div.sidebar div.sidebar-titlebar,
.plugins-container div.resizeable-window-titlebar {
    border-bottom: 1px solid var(--text-color-disabled);
    padding: 0 0.4em;
}

.plugins-container div.sidebar .sidebar-titlebar-icon {
    font-size: 80%;
    margin: 0 0.5em 0 0.25em;
}

.plugins-container div.sidebar div.sidebar-titlebar {
    border-radius: var(--radius) var(--radius) 0 0;
}

.plugins-container div.mapinfotooltip-titlebar,
.plugins-container div.resizeable-window-titlebar {
    border-radius: var(--radius-window) var(--radius-window) 0 0;
}

/* Toolbar.css */
.plugins-container
div.Toolbar > .icon {
    margin-right: 1.25em;
    border: none;
    box-shadow: var(--shadows);
    color: var(--map-button-text-color);
    background-color: var(--map-button-bg-color);
    border-radius: var(--radius);
    transition: var(--map-button-transition);
    pointer-events: all;
}

.plugins-container
div.Toolbar > .icon:before {
    font-size: 140%;
}

.plugins-container div.Toolbar > .icon:hover,
.plugins-container div.Toolbar > .toolbar-item-active {
    border: none;
    background-color: var(--map-button-hover-bg-color);
    color: var(--map-button-hover-text-color);
}

/* ButtonBar.css */
.plugins-container
div.ButtonBar span.buttonbar-button-container > button {
    border-radius: 0;
}

.plugins-container
div.ButtonBar span.buttonbar-button-container:last-child > button {
    border-radius: 0 var(--radius-small) var(--radius-small) 0;
}

.plugins-container
div.ButtonBar span.buttonbar-button-container:first-child > button {
    border-radius: var(--radius-small) 0 0 var(--radius-small);
}

.plugins-container
div.ButtonBar span.buttonbar-button-container:only-child > button {
    border-radius: var(--radius-small);
}

/* BottomBar.css */
.plugins-container
#BottomBar input.bottombar-mousepos {
    border-radius: var(--radius-small) 0 0 var(--radius-small);
}

.plugins-container
#BottomBar > span > select {
    border-radius: 0 var(--radius-small) var(--radius-small) 0;
}

/* MapInfoTooltip.css */
.plugins-container
div.mapinfotooltip-window {
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
}

.plugins-container
div.mapinfotooltip-window .mapinfotooltip-body-gwinfo button {
    width: 100%;
}

div.mapinfotooltip-window .mapinfotooltip-body-gwinfo .hover-dropdown {
    position: relative;
}

div.mapinfotooltip-window .mapinfotooltip-body-gwinfo .hover-dropdown > button{
    min-width: 160px;
    border: 1px solid #bbb;
    background-color: #e9e9e9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 16px;
}

div.mapinfotooltip-window .mapinfotooltip-body-gwinfo .hover-dropdown:hover > button {
    background-color: #bbb;
}

div.mapinfotooltip-window .mapinfotooltip-body-gwinfo .hover-dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: white;
    min-width: 160px;
    /*border: 1px solid #000;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px rgba(136, 136, 136, 1);
}

div.mapinfotooltip-window .mapinfotooltip-body-gwinfo .hover-dropdown:hover > .dropdown-content {
    display: block;
}

div.mapinfotooltip-window .mapinfotooltip-body-gwinfo .hover-dropdown-item {
    position: relative;
    padding: 8px 16px;
    display: flex;
    align-items: center;
}

div.mapinfotooltip-window .mapinfotooltip-body-gwinfo .hover-dropdown-item .item-icon {
    padding: 0px 0px !important;
    margin-left: auto;
}

div.mapinfotooltip-window .mapinfotooltip-body-gwinfo .hover-dropdown .dropdown-content > hr{
    margin: 0;
}

div.mapinfotooltip-window .mapinfotooltip-body-gwinfo .hover-dropdown-item:hover {
    background-color: #dcdcdc;
}

div.mapinfotooltip-window .mapinfotooltip-body-gwinfo .hover-dropdown-item .dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: white;
    min-width: 160px;
    /*border: 1px solid #000;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px rgba(136, 136, 136, 1);
}

div.mapinfotooltip-window .mapinfotooltip-body-gwinfo .hover-dropdown-item:hover > .dropdown-content {
    display: block;
}


div.mapinfotooltip-window .mapinfotooltip-body-gwinfo .hover-dropdown .dropdown-content > span {
    display: block;
    padding: 8px 16px !important;
}

div.mapinfotooltip-window .mapinfotooltip-body-gwinfo .hover-dropdown-item .dropdown-content span:hover {
    background-color: #dcdcdc;
}

/* Buttons.css */
.plugins-container
button.map-button {
    box-shadow: var(--shadows);
    border-radius: 1.5em; /* Revert to vanilla */
    transition: var(--map-button-transition);
}

/* Measure.css */
.plugins-container
div.measure-body * {
    border-radius: var(--radius-small);
}

/* TopBar.css */
.plugins-container
.TopBar {
    background-color: transparent;
    box-shadow: none;
    backdrop-filter: none !important;
    pointer-events: none;
}

.plugins-container
.TopBar div.SearchBox {
    height: 2.5em;
    margin-right: 1.5em;
    box-shadow: var(--shadows);
    pointer-events: all;
}

.plugins-container
.TopBar div.SearchBox > div.searchbox-field {
    border: var(--searchbox-border);
}

/* Do not display logo image */
.plugins-container
.TopBar a {
    display: none;
}

.plugins-container
.TopBar.mobile div.AppMenu .appmenu-button {
    margin-right: 0.5em;
}


/* Hide login-user on mobile and tablet devices */
@media screen and (max-width: 1024px) {
    div.login-user {
        display: none !important;
    }
}
